@import './base.css';

/* -------------------------------
   FORCE MOBILE FULL HEIGHT
-------------------------------- */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  min-height: 100svh;

  background: var(--bg-color, #9fd5ff);

  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

#app {
  width: 100%;
  min-height: 100svh;

  display: flex;
  flex-direction: column;

  background: inherit;
}

/* -------------------------------
   LINKS
-------------------------------- */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* -------------------------------
   DESKTOP LAYOUT ONLY
-------------------------------- */

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 0;
  }
}
